<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    {% block scripts %}
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% endblock %}
</body>
</html>
